#now_playing{
	position:fixed;
	bottom:0;
	width:100%;
	height:10%;
	z-index:0;
}

#options{
	display:none;
	position:fixed;
	left:0;
	height:100%;
	border:0;
	z-index:1;
}

.module{
	margin:0;
	border:1;
}

body{
	margin:0;
}

#menu_button{
	height:2%;
	width:1.5%;
	position:fixed;
	left:5%;
	top:3%;
	z-index:2;
}